DEBUG=True
SECRET_KEY=django-insecure-81_5caqd^8+3kvi$6erlh(0@f1zd2o!8!w_4*28vp84w-%=mz4
DATABASE_URL=postgres://dmlibrary_user:rome123@db:5432/dmlibrary_dev
DJANGO_SETTINGS_MODULE=mysite.settings.dev
ALLOWED_HOSTS=127.0.0.1,localhost