# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
venv/
.venv/

# Docker
postgres_data/
pgadmin_data/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# logs
*.log

# DB dumps and media archives
*.sql
*.tar.gz